<div class="staticPageNav">
                <div class="span3"> <!--Side Nav Bar-->             
                    <ul class="nav nav-pills nav-stacked">
                      <li class="nav-header">Useful Links</li> 
                      <li class="active"><a href="/about">About Us</a></li>  
                      <li><a href="http://blog.shelflet.com">Blog</a></li>  
                      <li><a href="/contact">Contact Us</a></li>  
                      <li><a href="/faqs">FAQs</a></li>  
                      <li><a href="/howitworks">How it Works</a></li> 
                      <li><a href="/privacy">Privacy Policy</a></li> 
                      <li><a href="/storeowners">Store Owners</a></li>  
                      <li><a href="/terms">Terms & Conditions</a></li>
                   </ul>
                   <img src="/assets/Shelflet-Fotolia.jpg" alt="smiley" />
                </div><!--side Nav Bar-->
            </div>
