<% provide(:title, 'About') %>
    <div class="MainBodyWrapper">

       <%= render "shared/searchbar" %>

       <div class="container">
        <div class="row">
          
          <div class="staticPageNav">
                <div class="span3"> <!--Side Nav Bar-->             
                    <ul class="nav nav-pills nav-stacked">
                      <li class="nav-header">Useful Links</li> 
                      <li class="active"><a href="/about">About Us</a></li>  
                      <li><a href="http://blog.shelflet.com">Blog</a></li>  
                      <li><a href="/contact">Contact Us</a></li>  
                      <li><a href="/faqs">FAQs</a></li>  
                      <li><a href="/howitworks">How it Works</a></li> 
                      <li><a href="/privacy">Privacy Policy</a></li> 
                      <li><a href="/storeowners">Store Owners</a></li>  
                      <li><a href="/terms">Terms & Conditions</a></li>
                   </ul>
                   <img src="/assets/Shelflet-Fotolia.jpg" alt="smiley" />
                </div><!--side Nav Bar-->
            </div>

        <div class="span9">
           <div class="staticPageWrapper aboutUsFont"> 
               <div class="padding">
                 <strong>Who We Are<br /></strong><br />

                 Shelflet is a rental marketplace that lets you find and rent the most affordable textbooks online from peers within and outside your school, including bookstores around your campus neighborhood and beyond.

                 <br /><img src="/assets/aboutus.jpg" alt="" class="aboutUsImg"/>

                 We intend to disrupt the traditional textbook rental model with a simple platform that allows students to earn more from the used textbooks they already own. 
                 <br /> <br />In simple terms, Shelflet allows a student to list his/her used textbook for rental to peers; each listing is shared across the user's social graph through Facebook/twitter/Google+ to achieve broader reach. 
                 <br /><br />By renting out/lending to peers on a continuous basis, students substantially earn more than they would if they resold to their college bookstores/online repurchase programs, and by renting from their peers, they save even more.

                
              </div>
            </div>
           </div>
         </div>
       </div>


