<% provide(:title, 'About') %>
    <div class="MainBodyWrapper">

       <%= render "shared/searchbar" %>

       <div class="container">
        <div class="row">
          
          <div class="staticPageNav">
                <div class="span3"> <!--Side Nav Bar-->             
                    <ul class="nav nav-pills nav-stacked">
                      <li class="nav-header">Useful Links</li> 
                      <li class="active"><a href="/about">About Us</a></li>  
                      <li><a href="http://blog.shelflet.com">Blog</a></li>  
                      <li><a href="/contact">Contact Us</a></li>  
                      <li><a href="/faqs">FAQs</a></li>  
                      <li><a href="/howitworks">How it Works</a></li> 
                      <li><a href="/privacy">Privacy Policy</a></li>  
                      <li><a href="/terms">Terms & Conditions</a></li>
                   </ul>
                   <img src="/assets/Shelflet-Fotolia.jpg" alt="smiley" />
                </div><!--side Nav Bar-->
            </div>

        <div class="span9">
           <div class="staticPageWrapper aboutUsFont"> 
               <div class="padding">
                 <strong>Who We Are<br /></strong><br />

                 Shelflet makes it easy to list and rent out your books to friends, peers and anyone else. If you’re like us, you probably have a pile of books - textbooks, novels, self-help books, etc. - laying around your house. Perhaps you’d like to keep them, or you’ve tried selling them for 75% less than you paid (especially textbooks). 
                 <br /><img src="/assets/aboutus.jpg" alt="" class="aboutUsImg"/>

                 We connect you with awesome people from across the country that need your books, to help you earn more from the books you already own, best of all, you still get to keep them after they’re returned. It’s a win-win! 
                 <br /> <br />We’re a small team based in Washington, DC, and we would like to hear from you, feel free to drop us a note at team@shelflet.com.<br /> <br />
<div class="staticPageBorder"></div>

                <div style="margin-top: 25px;"><strong>More information</strong></div><br /> 

<strong>Free Listing</strong><br /><br />

Listing your books on Shelflet is absolutely free. We take a 20% commission on the rental price each time someone rents your book.
<br /><br /><strong>Set your Price</strong><br /><br />

Feel free to set the rental price of your book on a month-to-month basis. We ask that you consider the selling price and condition of your book when setting your price. 

<br /><br /><strong>Getting Paid</strong><br /><br />

Payments are currently disbursed every 2 weeks via PayPal.
<br /><br /><strong>Rental Period</strong><br /><br />

 You can choose to rent your book for a 30 day, 60 day or 90 day period. Rental period begins on the date your book is delivered to the renter, and should be returned by the last day of the rental period. <br /><br />

A 15 day extension will be charged automatically on the renter’s credit card on file for late returns based on the rental price you set for your book. This 15 day extension will be recurring until your book is returned, or the full price is paid. 

<br /><br /><strong>Information Safety & Security</strong><br /><br />

We collect some information from you when listing your books. This includes your email address, mailing address for returns, payment & cash payout information. Our top priority is to keep this personal information secured and private. <br /><br />

                
              </div>
            </div>
           </div>
         </div>
       


