<% provide(:title, 'faqs') %>
    <div class="MainBodyWrapper">

       <%= render "shared/searchbar" %>

       <div class="container">
        <div class="row">
          
          <div class="staticPageNav">
                <div class="span3"> <!--Side Nav Bar-->             
                    <ul class="nav nav-pills nav-stacked">
                      <li class="nav-header">Useful Links</li> 
                      <li><a href="/about">About Us</a></li>  
                      <li><a href="http://blog.shelflet.com">Blog</a></li>  
                      <li><a href="/contact">Contact Us</a></li>  
                      <li class="active"><a href="/faqs">FAQs</a></li>  
                      <li><a href="/howitworks">How it Works</a></li> 
                      <li><a href="/privacy">Privacy Policy</a></li>  
                      <li><a href="/storeowners">Store Owners</a></li> 
                      <li><a href="/terms">Terms & Conditions</a></li>
                   </ul>
                   <%= image_tag "Shelflet-Fotolia.jpg", :alt => "smiley" %>
                </div><!--side Nav Bar-->
            </div>

        <div class="span9">
           <div class="staticPageWrapper aboutUsFont"> 
               <div class="padding">
                 <strong>FAQs<br /></strong><br />

                 

<strong>Why should I list my books on Shelflet?</strong><br /><br />

If you’re like us, you probably have a pile of books - textbooks, novels, self-help books, etc. - laying around your house. Perhaps you’d like to keep them, or you’ve tried selling them for 75% less than you paid (especially textbooks). <br /><br />

Shelflet allows you to rent them to anyone, which means you still get to keep your books after they are returned, and you earn back the precious cash you spent for those books, plus a profit! Its a win-win situation! <br /><br />

<strong>Why should I rent books from Shelflet?</strong><br /><br />

Shelflet is the best way to rent books online because for each title, you get to choose from multiple book owners (listers), who will provide you with more affordable price options and rental period flexibility. You will enjoy larger savings when you rent from awesome people around you!<br /><br />

<strong>Can I write or highlight?</strong><br /><br />

On each listing, it is up to the book owner  to tell you whether or not writing/highlighting is permitted. However, we expect you to treat each rented book with utmost care; just as you would your own books. <br /><br />

<strong>How many Rental Periods do you offer?</strong><br /><br />

You can rent or list a book for 1 month, 2 months or 3 months. The rental period does not begin until the book is delivered to the renter. <br /><br />

<strong>How do I get shipping labels for my books?</strong><br /><br />

Once you accept a rental request, shipping labels are made available in your Shelflet profile, and via email notification. If you are the renter, you can also print a return label from your Shelflet profile. It’s that simple!<br /><br />

<strong>What if my book is returned late?</strong><br /><br />

A 15 day extension will be charged automatically on the renter’s credit card on file for late returns based on the rental price you set for your book. This 15 day extension will be recurring until your book is returned, or the full price is paid. <br /><br />

<strong>What if the book gets stolen or damaged while I’m renting it?</strong><br /><br />

If a book is stolen, misplaced or damaged while you’re renting it, please contact us at help@shelflet.com, Keep in mind that each book becomes your responsibility for the duration of the rental, and you will be required to compensate the book owner for the full price of the book. <br /><br />
                
              </div>
            </div>
           </div>
         </div>
       


