<% provide(:title, 'Rent Books. Book Rentals') %>


<%# content_for :javascript_includes do %>
  <%#s= javascript_include_tag "jquery.nivo.slider.pack.js" %>
<%# end %>   


    <div class="MainBodyWrapper">  
      <script type="text/javascript">
       mixpanel.track("Home Page Loaded")
    </script>
          <%= render "shared/searchbar" %>
           
           <%= render "shared/sidenav" %>

               <div class="span9"> <!--slider-->  
               <div class="HomeImage">

                  
		                      <%= image_tag "homepage3.jpg", :alt => "welcome image" %>

                    <div class="HomeImageText1">
                      Find & <span style="border-bottom: 3px solid #DC143C;">Rent </span>Books from awesome people...

                    </div>

                <div class="HomeImageText2"> 
                    We connect you with people and books <br>from across the country to help you save <br> more as a renter, or earn more from the <br> books you already own! <br>
                    <div class="HomeImageButtons">
                      <a href="/list" class="btn btn-info">Start Listing</a>
                      <a href="/users/signup" class="btn btn-danger HomeImageButtonsLearn">Sign Up!</a>
                    </div>
                </div>

            </div>



              <%= render :partial => "recentListings" %>


            </div>
          </div>
        </div>         
     
      



