<% provide(:title, 'How it Works') %>
    <div class="MainBodyWrapper">

       <%= render "shared/searchbar" %>

       <div class="container">
        <div class="row">
          
          <div class="staticPageNav">
                <div class="span3"> <!--Side Nav Bar-->             
                    <ul class="nav nav-pills nav-stacked">
                      <li class="nav-header">Useful Links</li> 
                      <li><a href="/about">About Us</a></li>  
                      <li><a href="http://blog.shelflet.com">Blog</a></li>  
                      <li><a href="/contact">Contact Us</a></li>  
                      <li><a href="/faqs">FAQs</a></li>  
                      <li class="active"><a href="/howitworks">How it Works</a></li> 
                      <li><a href="/privacy">Privacy Policy</a></li>  
                      <li><a href="/storeowners">Store Owners</a></li> 
                      <li><a href="/terms">Terms & Conditions</a></li>
                   </ul>
                   <%= image_tag "Shelflet-Fotolia.jpg", :alt => "smiley" %>
                </div><!--side Nav Bar-->
            </div>

        <div class="span9">
           <div class="staticPageWrapper aboutUsFont"> 
               <div class="padding">
                 <strong>Smart & Flexible Renting from your Peers</strong><br />
                 <p></p>
                 Options are good! Choose books from multiple listers to get the best book rental rates online. <br /><br />

                 <div class="staticPageBorder" style="margin-top: 4px"></div>
                 
                 <div style="margin-top: 25px;"><strong>HOW TO RENT</strong></div><br />
                
                 Step 1  <br /><br />

                  <strong>Search for a Book</strong> <br /><br />

Use the search bar to find the books you need (textbooks or casual reading titles). You can search by title, author or ISBN #. <br /><br />

Step 2<br /><br />

<strong>Request a Book</strong><br /><br />

Once you've found the book you want to rent, choose a rental period and checkout. The book owner will receive a notification to accept your request.<br /><br />

Step 3<br /><br />

<strong>Delivery/Return</strong><br /><br />

The book is shipped to you with a return label.<br /><br />

<strong>Share your Books, Make Money</strong><br /><br />

Earn more in 3 turns when your people rent your used books.<br /><br />
<div class="staticPageBorder"></div>

<div style="margin-top: 25px;"><strong>HOW TO LIST</strong></div><br />

Step 1<br /><br />

<strong>Fill out a few details about your book</strong><br /><br />

Listing is completely free and easy; just enter the title or ISBN # of your book, including the duration and rental rate. You can also add a picture of your book, and you’re done!<br /><br />
Step 2<br /><br />

<strong>Receive Rental Requests</strong><br /><br />

You will receive rental requests from interested renters, which you can either accept or decline immediately. We always appreciate a prompt response!<br /><br />
Step 3<br /><br />

<strong>Accept a Request</strong><br /><br />

When you accept a rental request, quickly print the shipping label from your Shelflet profile, and drop it off at your nearest mailbox or post-office.<br /><br />

Step 4<br /><br />

<strong>Your Book is Returned</strong><br /><br />

The renter also gets a return label to ship your book back to you at the end of the rental period.<br /><br />
Step 5<br /><br />

<strong>Leave a Review</strong><br /><br />

To help other users know what to expect from a book owner or renter, we collect reviews at the end of each rental period. We encourage you to share your experiences with the awesome people on Shelflet in order to help self-regulate our community.<br /><br />

                
              </div>
            </div>
           </div>
         </div>
       


