<% provide(:title, 'Store Owners') %>
    <div class="MainBodyWrapper">

       <%= render "shared/searchbar" %>

       <div class="container">
        <div class="row">
          
          <div class="staticPageNav">
                <div class="span3"> <!--Side Nav Bar-->             
                    <ul class="nav nav-pills nav-stacked">
                      <li class="nav-header">Useful Links</li> 
                      <li><a href="/about">About Us</a></li>  
                      <li><a href="http://blog.shelflet.com">Blog</a></li>  
                      <li><a href="/contact">Contact Us</a></li>  
                      <li><a href="/faqs">FAQs</a></li>  
                      <li><a href="/howitworks">How it Works</a></li> 
                      <li><a href="/privacy">Privacy Policy</a></li>  
                      <li class="active"><a href="/storeowners">Store Owners</a></li>  
                      <li><a href="/terms">Terms & Conditions</a></li>
                   </ul>
                   <%= image_tag "Shelflet-Fotolia.jpg", :alt => "smiley" %>
                </div><!--side Nav Bar-->
            </div>

        <div class="span9">
           <div class="staticPageWrapper aboutUsFont"> 
               <div class="padding">
                <strong>Merchants & Store Owners<br /></strong><br />
                Shelflet marketplace provides you with the technology infrastructure you need to start renting out your book inventory online. Whether you’re new to ecommerce, or a seasoned merchant, we work with you from the ground up to build a new rental revenue stream.
<br><br>
Already operate a rental program for your store? No problem. Shelflet presents a brand new sales channel for your store/business to explore. Our focus is to help you reach more customers, increase your revenues through recurring rental income, and grow your business significantly.<br><br>

<strong>Benefits of Listing on Shelflet Platform:</strong><br> <br>
<ul>

<li><strong>Zero Setup or Infrastructure Cost</strong><br><br>

Shelflet takes away your upfront investment in IT infrastructure. We provide you with the features, reliability, and scalability you need to start and grow your book rental business online regardless of your business size.</li><br>

<li><strong>Grow Revenues on each book by at least 2.5x over 3 or more Rental periods</strong><br><br>
  
With the average rental price of books ranging between 25% - 60% of the new book price, Shelflet allows you to earn at least 2.5x of the value of your inventory over 3 or more rental periods.</li><br>

<li><strong>Boost Sales through Social Media Integration</strong><br><br>

Shelflet helps you push your inventory to where your customers spend most of their time. Our seamless Facebook integration allows you to promote your listings on a network of over 1 Billion potential customers, through your company Facebook page. 

Don’t have a Facebook page for your company? We’ll provide you with useful tips to create, manage and grow your following on Facebook.</li><br>

<li><strong>No mandatory Long-term Contracts</strong><br><br>

We understand the importance of flexibility when running your business, hence Shelflet allows you to choose between monthly subscriptions or discounted annual subscriptions. <a href="#pricing" class="Default">(See Pricing & Fees for details)</a></li><br>

<li><strong>Easy Inventory Migration</strong><br><br>

Adding your inventory on Shelflet is easy; Just create your account on www.shelflet.com in less than 2 minutes, email us your inventory, and we’ll handle the rest.</li><br>

</ul>


<div id="pricing"><br><strong>Pricing & Fees:</strong><br><br>
Earn more in 3 turns when your people rent your used books.<br><br>
<table border="1" class="table-align" width="677">
   <TR>
      <TD><strong>Inventory Size:</strong></TD>
      <TD><strong>Monthly Subscription Fee:</strong></TD>
      <TD><strong>Commission:</strong></TD>
   </TR>
   <TR>
      <TD>100  - 5,000</TD>
      <TD>$29.99</TD>
      <TD>13%+ $0.50 per item</TD>
   </TR>
   <TR>
      <TD>5,001 - 25,000</TD>
      <TD>$49.99 </TD>
      <TD>13%+ $0.50 per item</TD>
   </TR>
   <TR>
      <TD>25,001 - 100,000</TD>
      <TD>$79.99 </TD>
      <TD>13%+ $0.50 per item</TD>
   </TR>
   <TR>
      <TD>> 100,000</TD>
      <TD>$149.99 </TD>
      <TD>13%+ $0.50 per item</TD>
   </TR>
</table>


<br>20% flat commission, with no Monthly Subscription Fee for inventory of less than 100 items.</div>

<br>If you have any questions about listing on Shelflet, please feel free to contact us at <strong>list@shelflet.com!</strong><br>

                
              </div>
            </div>
           </div>
         </div>
       


