<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

     <%= image_tag attachments["shelflet.jpg"], :alt => "Shelflet", :height => '37' %><span>Shelflet</span><br><br>

    Welcome <%= @user.first_name %>! <br><br>

    Shelflet makes it easy to list and rent out your books to friends, peers and anyone else.<br><br>

    To get started, <a href="http://0.0.0.0:3000/list">list your books</a> so people can rent them from you starting January (our beta launch!).<br> <br>

    We’re really excited to have you join our market community!


    <br><br><br>-- Shelflet team

  </body>
</html>