<div class="emptyShelf" style=" margin-top: -3px; ">
                 <p><strong>You currently have zero books in Your Shelf. Start Listing on Shelflet!</strong></p>
                 <div class="emptyviewsText">
                 <a class="btn btn-info" href="/list">Add Books to Your Shelf</a><br /><br />
                 <a class="btn btn-danger">Learn more</a><br /><br />
                 <p>We're here for you! Let us<br />know if you have any<br />questions or concerns at<br />hello@shelflet.com</p>               
                 </div>
                 <p style="border-top: 1px solid #E6E6E6;"></p>
                 <p><img src="/assets/Shelflet-empty.jpg" width="700" height="450" 
                        style="margin-top: 7px; margin-bottom: 75px" alt="Smiley"/></p>                
            </div>
</div>
       </div>
     </div>