

<div class="container">  
                <div class="span3"> <!--Side Nav Bar-->             
                    <ul class="nav nav-pills nav-stacked">
                      <li class="active">
                        <%= link_to current_user do %>
                        Shelf<span class="nav-pipe-fix">|</span><span class="Shelf"><%= @user_books_count %></span></a></li>
                        <% end %>

                      <li><a href="#" onclick="return false;" rel="tooltip" title="We opened up just the listing feature on Shelflet, start listing your old/used books" class="element">Request<span class="nav-pipe-fix">|</span><span class="Request">0</span></a></li>  

                      <li><a href="#" onclick="return false;" rel="tooltip" title="We opened up just the listing feature on Shelflet, start listing your old/used books" class="element">Confirmed<span class="nav-pipe-fix">|</span><span class="Confirmed">0</span></a></li> 

                      <li><a href="#" onclick="return false;" rel="tooltip" title="We opened up just the listing feature on Shelflet, start listing your old/used books" class="element">History<span class="nav-pipe-fix">|</span><span class="History">0</span></a></li>  

                      <li><a href="#" onclick="return false;" rel="tooltip" title="We opened up just the listing feature on Shelflet, start listing your old/used books" class="element">Reviews<span class="nav-pipe-fix">|</span><span class="Reviews">0</span></a></li>                      

                      <li><a href="#" onclick="return false;" rel="tooltip" title="We opened up just the listing feature on Shelflet, start listing your old/used books" class="element">Orders<span class="nav-pipe-fix">|</span><span class="Orders">0</span></a></li> 
                      
                   </ul>
                </div><!--side Nav Bar-->
          </div>


                   <div class="container">
                <div class="span3"> <!--Side Nav Bar-->             
                    <ul class="nav nav-pills nav-stacked">


                      <li>
                      <%= link_to edit_user_path(current_user) do %>
                        <i class="icon-wrench"></i>Account Settings
                      </li>
                        <% end %>

                   </ul>
                </div><!--side Nav Bar-->
               </div>
             </div>
           </div>