         <div class="container"> 
            <div class="row">  
                <div class="span3"> <!--Side Nav Bar-->             
                    <ul class="nav nav-pills nav-stacked">  
                      <li class="nav-header">Popular Categories</li> 
                      <li><a href="#">Accounting</a></li>  
                      <li><a href="#">Art History</a></li>  
                      <li><a href="#">Business & Finance</a></li>  
                      <li><a href="#">Computer Science</a></li>  
                      <li><a href="#">Communication & Journalism</a></li> 
                      <li><a href="#">Economics</a></li>  
                      <li><a href="#">Engineering</a></li>  
                      <li><a href="#">Mathematics</a></li>  
                      <li><a href="#">Medicine & Health Sciences</a></li>  
                      <li><a href="#">Nursing</a></li>  
                      <li><a href="#">Political Science</a></li>
                      <li><a href="#">Psychology</a></li>  
                      <li><a href="#"><i class="icon-plus-sign"></i>More</a></li>   
                   </ul>
                </div><!--side Nav Bar-->

