 


 <div class="container"> <!--introduction -->
               <div class="span3">  
                    <div class="thumbnail">
                     <div class="SnapshotText">Snapshot</div>
                    <div class="SnapshotBorder"></div>
                    <div class="SnapshotInfo"><p>Earnings:<span style="margin-left: 17px;">$</span><span class="TotalEarnings">0.00</span></p></div>
                       <div class="SnapshotBorder"></div>
                    <div class="SnapshotInfo"><p>Paid:<span style="margin-left: 40px;">$</span><span class="TotalPaid">0.00</span></p></div>
                       <div class="SnapshotBorder"></div>
                    <div class="SnapshotInfo"><p style="font-size: 12px;"><span>Next Payout: </span><span class="nextPayoutDate">-</span></p></div>
                    <div class="SnapshotInfo"><p><a href="/list" class="btn btn-info" style="width: 65px;">Add Books</a></p></div>
                  </div>
             </div>  <!--introduction -->
            </div>