<div class="emptyResults">
             <p><strong style="font-size: 60px;">uh-oh!</strong></p>
                <div class="emptyresultsText">                 
                 <p>Our sincerest apologies! We <br />are building up inventory as<br />fast as possible from awesome<br />
                      users like you. <br /><br />
                      Help us by listing your used<br /> textbooks so people who<br />
                      need them can rent from you.<br /> <br />         
                      <a class="btn btn-danger" href="/list">Start Listing</a><br /><br />
                 <a class="btn btn-info element" href="#" onclick="return false;" rel="tooltip" title="We just opened up the listing feature on Shelflet, start listing your old/used books">Ask your facebook friends?</a><br /><br />
                 </div>
                 <p><img src="/assets/Shelflet-empty.jpg" width="700" height="450" 
                        style="margin-top: 7px; margin-bottom: 75px" alt="Smiley"/></p>      
          

        
    </div>