<div class="emptyResults">
             <p><strong style="font-size: 60px;">uh-oh!</strong></p>
                <div class="emptyresultsText">                 
                 <p>Our sincerest apologies! We <br />are building up inventory as<br />fast as possible from awesome<br />people like you. <br /><br />
                      Help us by listing your used<br />books so people who<br />
                      need them can rent from you.<br /> <br />         
                      <a class="btn btn-danger" href="/list">Start Listing</a><br /><br />
                 <a class="btn btn-info element" href="#" onclick="return false;" rel="tooltip" title="We opened up just the listing feature on Shelflet. Start listing your old/used books!">Ask your facebook friends?</a><br /><br />
                 </div>
                 <p><%= image_tag "Shelflet-empty.jpg", :alt => "smiley", :width => "700", :height => "450", :style => "margin-top: 7px; margin-bottom: 75px" %></p>      
                  
    </div>