<div class="container">
        <div class="row" style="margin-top: 18px;">
         <div class="span4">
          <div class="thankyouBox" style="margin-left: 0px; width: auto;"> 
                 <div class="thankyouBoxText" style="padding-left: 20px;">Listing on Shelflet</div>
                 <div class="thankyouBorder"></div>
                 <div class="thankyouDetails ListBoxDetailsFix"> 
                    <p>List your idle books on Shelflet and start renting to your peers. Earn more, instead of selling at a fraction of what you paid.</p>
                  </div>      
                </div>
            <div class="thankyouBox" style="margin-left: 0px; width: auto; height: 214px; margin-top: -70px"> 
                 <div class="thankyouBoxText" style="padding-left: 20px;">Store Owner? Or plenty books to List?</div>
                 <div class="thankyouBorder"></div>
                 <div class="thankyouDetails ListBoxDetailsFix"> 
                    <p>Hey there! if you are a store owner or have more than 50 books to list, we are happy to help you list them on 

                    <%= image_tag "Shelflet-Fotolia.jpg", :alt => "Smiley face", :width => 50, :height => 100, :style => "float: left; margin-top: 10px; margin-right: 10px;" %>
                                           shelflet. Just create an account and shoot us an email at: <br /><br />  <strong>list@shelflet.com</strong></p>
                  </div>      
                </div>
           </div>