<% provide :title, "Edit" %>

<%= render "shared/searchbar" %>

<%= render 'leftNav' %>

<div class="span8">
           <div id="listBoxWrapper">          
            <fieldset>
            <p class="listing-text">Tell Us About Your Book
              <% if user_signed_in? %> 
    			<span class="listing-text-shelf"><%= link_to "Back to Shelf", current_user %></span>
			   <% end %>
            <div class="listing-text-border"></div>
            </p>
            
             
<%= render 'form' %>


<%#= link_to 'Show', @user_book %> |
<%#= link_to 'Back', user_books_path %>


