body {
  background-color: #fff;
  color: #333;
  
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  /*padding: 2px;
  background-color: red;*/
  display: inline-block;
}

#error_explanation {
  width: 924px;
  border: 1px solid #EED3D7;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #F2DEDE;
  color: #B94A48;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 0px 0px 0px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #F2DEDE;
    color: #B94A48;
  }
  ul li {
    font-size: 12px;
  }
}

.field_with_errors input, .field_with_errors textarea, .field_with_errors select
{
    border: 1px solid #F88379 !important;
}
