<p>Hi <%= @resource.first_name %>,</p> <br>

<p>We’re excited you’re here! Follow the link below to activate your account:</p><br>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<br><br>-- Shelflet team
