<p>Hi <%= @resource.first_name %>,</p>

<p>We’re excited you’re here! Follow the link below to activate your account:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<br>-- <i>Shelflet team</i>
