<footer class="footerWrapper">
       <div class="container"> 
            <div class="row"> 
             <div class="span4">      
                <h4 style="margin-top: 12px;">Who We Are:</h4>
                   <p>Shelflet makes it easy to list and rent out your books to friends, peers and anyone else.
                    <a href="/about" class="Default">Learn More...</a>© 2012 Tentie Inc.</p>
              </div>
             <div class="span4 offset1">
               <div class="span2">               
                    <p><a href="/about">About Us</a></p>
                    <p><a href="http://blog.shelflet.com">Blog</a></p>
                    <p><a href="/contact">Contact Us</a></p>
                    <p><a href="/faqs">FAQS</a></p>
                </div>
                <div class="span2a">               
                    <p><a href="/howitworks">How it Works</a></p>
                    <p><a href="/privacy">Privacy</a></p>
                    <p><a href="/terms">Terms & Conditions</a></p>
                </div>
             </div>
             <div class="span3">
               <p><a title="facebook" href="https://www.facebook.com/shelflet" id="facebook-link"></a>
                <a title="twitter" href="https://twitter.com/shelflet" id="twitter-link"></a></p>
             </div>
            </div>
          </div>           
     </footer>